* {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
kbd {
  position: relative;
  border: 1px solid red;
  width: 4em;
  height: 4em;
  display: inline-block;
  text-transform: uppercase;
  button {
    display: none;
    position: absolute;
    bottom: 0;
    right: 0;
  }
  &:hover > button {
    display: inline-block;
  }
}
main {
  text-align: center;
  div {
    &:nth-child(2) {
      margin-left: 2em;
    }
    &:nth-child(3) {
      margin-left: 4em;
    }
  }
}
